{% extends "network/layout.html" %}
{% load static %}
{% block body %}
{% load to_and %}
    <div class="wrapper_all_posts col">
        <div class="mb-5 "><h1>All Posts</h1></div>
        {% if user.is_authenticated %}
        <div class=" mb-5 new_posts_wrapper">
            <form method="POST" action="{% url 'index'%}">
                {% csrf_token %}
                <div class><h3>New posts</h3></div>
                <div class class="new_post_wrapper"><textarea rows="2" cols="200" name="new_post" class="new_post"></textarea></div>
                <div><button class="btn-primary">Post</button></div>
            </form>
        </div>
        {% endif %}
        {% for post in posts %}
        <div class="post_wrapper mb-5">
            <div class="post " >
                <div class="post_user" ><a href="{% url 'profile' post.user %}"><h5>{{post.id}}--{{post.user}}</h5></a></div>
                <div class="post_content">{{ post.post|linebreaks}}</div>
                <div class="post_time_edit container" > 
                    <div class="row justify-content-between edit_button_wrapper">  
                        <div class="post_time" >{{post.time}}</div>
                        {% if post.user == user %}
                        <input type="button"  value="Edit" onclick="edit_action(event,'{{post.id}}')" class="btn btn-primary mt-1 post_edit"/>
                        {% endif %}</div>
                     
                </div>
               
                <div class="like_wrapper">
                    {% if user in post.like.all %}
                    <span class="like"><i class="fa fa-solid fa-heart fa-2xl like_button" onclick="like_action(event,'{{post.id}}')"></i></span>
                    {% else %}
                    <span class="like"><i class="fa fa-regular fa-heart fa-2xl like_button" onclick="like_action(event,'{{post.id}}')"></i></span>
                    {% endif %}
                    <span class="like_count font-weight-bold">
                    {{ post.total_likes}}                     
                    </span>
                </div>
                <!-- <div class="comment_wrapper">
                    <div style="color:grey;">Comments</div>
                </div> -->
            </div>
        </div>
        {% empty %}
        <h3>No Post</h3>
        {% endfor %}
    </div>
    
{% endblock %}
{% block script %}
    <script src="{% static 'network/follow.js' %}"></script>
    <script src="https://kit.fontawesome.com/ebcbbd71ee.js" crossorigin="anonymous"></script>
{% endblock %}