{% extends "network/layout.html" %}
{% block body %}
    <div class="header container mt-5" >
        <div class="row mb-5 justify-content-center">
            <div class="dp mr-2" ><img src="" style="height:100px;width:100px;border: 1px solid black;border-radius:50%;"/></div>
            <div class="user font-weight-bold" style="margin-top: auto;margin-bottom: auto;">{{profile.username}}</div>
        </div>
       
        <div class="row">
            <div class="col font-weight-bold text-center" >
                <div >Followers</div>
                <div >{{profile.followers.count}}</div>
            </div>
            <div class="col font-weight-bold text-center" s>
                <div >Following</div>
                <div >{{profile.following.count}}</div>
            </div>
        </div>
    </div>
{% endblock %}
