{% extends "network/layout.html" %}
{% load static %}
{% block body %}
<div>

    <div class="header container mt-5 mb-5" >
        <div class="row mb-5 justify-content-center">
            <div class="dp mr-2" ><img src="" style="height:100px;width:100px;border: 1px solid black;border-radius:50%;"/></div>
            <div class="user_profile font-weight-bold" style="margin-top: auto;margin-bottom: auto;">{{profile.username}}</div>
        </div>
            
        <div class="row justify-content-center">
            {% if user.username != profile.username %}
            {% if not follow_status %}
            <div class=""><button type="button" class="btn btn-dark mr-2 " id="follow_btn" onclick="follow_action('follow')" >Follow</button></div>
            {% else %}
            <div class=""><button type="button" class="btn btn-dark " id="unfollow_btn" onclick="follow_action('unfollow')">UnFollow</button></div>
            {% endif %} 
            {% endif %}
        </div>


        
       
        <div class="row">
            <div class="col font-weight-bold text-center" >
                <div >Followers</div>
                <div >{{profile.followers.count}}</div>
            </div>
            <div class="col font-weight-bold text-center" s>
                <div >Following</div>
                <div >{{profile.following.count}}</div>
            </div>
        </div>
    </div>

    <div class="profile_post_wrapper col ">
            <div class="profile_post_header mb-5">
                {% if profile.username == user.username%}
                <h3> My posts</h3>
                {% else %}
                <h3>{{profile.username}}'s posts</h3>
                {% endif %}
            </div>

            {% for post in posts %}
            <div class="post_wrapper mb-5">
                <div class="post " >
                    <div class="post_user" ><a href="{% url 'profile' post.user %}"><h5>{{post.id}}--{{post.user}}</h5></a></div>
                    <div class="post_content">{{ post.post|linebreaks}}</div>
                    <div class="post_time_edit container" > 
                        <div class="row justify-content-between edit_button_wrapper">  
                            <div class="post_time" >{{post.time}}</div>
                            {% if post.user == user %}
                            <input type="button"  value="Edit" onclick="edit_action(event,'{{post.id}}')" class="btn btn-primary mt-1 post_edit"/>
                            {% endif %}</div>
                         
                    </div>
                   
                    <div class="like_wrapper">
                        {% if user in post.like.all %}
                        <span class="like"><i class="fa fa-solid fa-heart fa-2xl like_button" onclick="like_action(event,'{{post.id}}')"></i></span>
                        {% else %}
                        <span class="like"><i class="fa fa-regular fa-heart fa-2xl like_button" onclick="like_action(event,'{{post.id}}')"></i></span>
                        {% endif %}
                        <span class="like_count font-weight-bold">
                        {{ post.total_likes}}                     
                        </span>
                    </div>
                    <!-- <div class="comment_wrapper">
                        <div style="color:grey;">Comments</div>
                    </div> -->
                </div>
            </div>
            {% empty %}
            <h3>No Post</h3>
            {% endfor %}
            
    </div>
    
</div> 
{% endblock %}

{% block script %}
    <script src="{% static 'network/follow.js' %}"></script>
    <script src="https://kit.fontawesome.com/ebcbbd71ee.js" crossorigin="anonymous"></script>
{% endblock %}
